<div class="container mt-5" data-aos="fade-down">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <h1>Home page</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-3 d-flex justify-content-center">
      <span>To display all users, you need to login or register.</span>
    </div>
    <div class="col-12 mt-3 d-flex justify-content-center">
      <a class="btn btn-primary mr-4" routerLink="/login">Login</a>
      <a class="btn btn-warning text-white" routerLink="/register">Register</a>
    </div>
  </div>
</div>
